.logout-div{
    height: inherit;
    margin-right: 20px;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.logout-button{
    box-shadow: 0px 0px 2px darkgray;
    border-radius: 10px;
    padding: 10px 20px;
    flex-grow:0;
}

.logout-button:hover{
    cursor:pointer;
    box-shadow: 0px 0px 4px white;
}